<a href="https://colab.research.google.com/github/upamasharmin/ML_ROADMAPS/blob/main/ML_RoadMaps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ml_roadmaps_week(1)**

Variable

In [ ]:
rent=8000
petrol=500.5
groceries=2050.5
print(rent)
total=rent+petrol+groceries

gabbar="amjad khan"
jay="amitabh"
thakur="sanjiv kumar"

print("actors in sholey: ",gabbar,jay,thakur)

print(type(rent))
print(type(groceries))
print(type(gabbar))

# boolean
learn_python=True
learn_fortran=False

# variable naming rules
# no keywords: example True, for
# no special characters: foo+bar
# they must begin with a letter or _
# other characters can be letters (a to Z, A to Z) or numbers (0 to 9)
# names are case sensitive

bade_bhai=10
bade_Bhai=5
print(bade_bhai)
print(bade_Bhai)

# above naming convention is called snake_case

# In python you can assign variable any value, not like strict typed language where
# you have to declare data type of a variable in advance

foo=5
foo="jalebi"
bar=foo
print("bar id",id(bar))
print("foo id",id(foo))
bar="samosa"
foo="kachodi" # at this point nothing is point to jalebi object and it will be garbage collected

8000
actors in sholey:  amjad khan amitabh sanjiv kumar
<class 'int'>
<class 'float'>
<class 'str'>
10
5
bar id 140179086379760
foo id 140179086379760

## Numbers

In [ ]:
# 1. Use python to find area of triangle
# area = (1/2)*base*height
base=10.26
height=20.572
area=(1/2)*base*height
print("area is:",area) # area is: 105.53435999999999
# to show area till 2 decimal places
print("area rounded to 2 decimal place:",round(area,2)) # 105.53

# 2. basic airthmetic using numbers
print(1+2) # 3
print(1/2) # 0.5
print(17%3) # 2
print(3**2) # 9
print(10+2*3) # 16
print((10+2)*3) # 36

# 3. Number data types (int, float, complex numbers)
print(type(area)) # float
foo=2.3e-3
print(foo) # 0.0023
print(type(1)) # int
print(0x12) # 18
print(type(0x12)) # int
c1=2+3j
print(type(c1)) # complex
c2=3-4j
print(c1+c2) # 5-j

# 4. Internal representation of numbers
# (a) integers are stored in simple binary format
print(format(5,'b')) # 4 bytes (or 32 bits), visual of binary presentation
# (b) floats use IEEE754 standard : https://en.wikipedia.org/wiki/IEEE_754
print(6-5.7) # this prints 0.29999999 and not 0.3. why? Due to IEEE 754 standard

area is: 105.53435999999999
area rounded to 2 decimal place: 105.53
3
0.5
2
9
16
36
<class 'float'>
0.0023
<class 'int'>
18
<class 'int'>
<class 'complex'>
(5-1j)
101
0.2999999999999998

**Strings**

In [ ]:

food='samosa'

food[0]

's'

In [ ]:
food[-1]

'a'

In [ ]:
food[0:2]

'sa'

In [ ]:
food[-3:-1]

'os'

In [ ]:
len(food)

6

In [ ]:
myfood='samosa,jalebi'

In [ ]:
'samosa' in myfood

True

In [ ]:
'singara' in myfood

False

In [ ]:

myfood.replace('samosa','biryani')

'biryani,jalebi'

In [ ]:
myfood

'samosa,jalebi'

In [ ]:
myfood=myfood.replace('samosa','biryani')
myfood

'biryani,jalebi'

In [ ]:
myfood.upper()

'BIRYANI,JALEBI'

In [ ]:
dir(myfood)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:

dialog='''kitne aadami the?
sardar: do'''

In [ ]:
dialog

'kitne aadami the?\nsardar: do'

In [ ]:
s='hey\nbro'
print(s)

hey
bro

In [ ]:
first='Shakib Al'
last='Hasan'
print('The best cricket player:',first + ' ' + last)

The best cricket player: Shakib Al Hasan

In [ ]:

print(f'The best cricket player {first} {last}')

The best cricket player Shakib Al Hasan

**User Input**

In [ ]:
n1=input("Enter first number")
n2=input("Enter second number")
sum=float(n1)+float(n2)
print("Sum is:",sum)

Enter first number45
Enter second number56
Sum is: 101.0

**List**

In [ ]:
mithai=['halva','kheer','jalebi','gulab jamun']
mithai

['halva', 'kheer', 'jalebi', 'gulab jamun']

In [ ]:
type(mithai)

list

In [ ]:
mithai[3]

'gulab jamun'

In [ ]:

mithai[1:3]

['kheer', 'jalebi']

In [ ]:
mithai[-4:]

['halva', 'kheer', 'jalebi', 'gulab jamun']

In [ ]:
len(mithai)

4

In [ ]:
'singara' in  mithai

False

In [ ]:
starter=['rolls','soup']
starter

['rolls', 'soup']

In [ ]:
food= starter+mithai
food

['rolls', 'soup', 'halva', 'kheer', 'jalebi', 'gulab jamun']

In [ ]:
mithai[0]='peda'
mithai

['peda', 'kheer', 'jalebi', 'gulab jamun']

In [ ]:
mithai[0:2]=['samosa']
mithai

['samosa', 'jalebi', 'gulab jamun']

In [ ]:
mithai[0:2]=[3,5,6,7,8,9]
mithai

[3, 5, 6, 7, 8, 9, 'gulab jamun']

**IF**

In [ ]:

n=input("Enter a number")
n=int(n)
if n%2==0:
    print("Number is even")
else:
    print("Number is odd")

Enter a number10
Number is even

In [ ]:
indian=["samosa","kachori","dal","naan"]
pakistani=["nihari","paya","karahi"]
bangladesi=["panta bhat","chorchori","fuchka"]
dish=input("Enter a dish name:")

if dish in indian:
    print(f"{dish} is Indian")
elif dish in pakistani:
    print(f"{dish} is pakistani")
elif dish in bangladesi:
    print(f"{dish} is bangladesi")
else:
    print(f"Based on my limited knowledge, I don't know which cuisine is {dish}")

Enter a dish name:dal
dal is Indian

**FOR**

In [ ]:
expenses = [1200,1500,1300,1700]
total = expenses[0] + expenses[1] + expenses[2] + expenses[3]
print(total)
total = 0
for expense in expenses:
    total = total + expense
print(total)

5700
5700

In [ ]:
print(range(1,11))
print(list(range(1,11)))
for i in range(1,11):
    print(i)

# in monthly expense list print month number, expense and then total
total = 0
for i in range(len(expenses)):
    print(f"Month {i+1}, expense: {expenses[i]}")
    total += expenses[i]
print(f"Total expenses is {total}")

# break
key_location="chair"
locations = ["sofa","garage","chair","table","closet"]
for loc in locations:
    if loc == key_location:
        print("Key found at:",loc)
        break
    else:
        print("Key not found in:",loc)

# continue: print odd numbers between 1 to 10
for i in range(11):
    if i%2==0:
        continue
    print(i)

# while loop
num=0
while num<=10:
    print(num)
    num=num+1

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10
Month 1, expense: 1200
Month 2, expense: 1500
Month 3, expense: 1300
Month 4, expense: 1700
Total expenses is 5700
Key not found in: sofa
Key not found in: garage
Key found at: chair
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9
10

**FUNCTION**

In [ ]:
# Calculate expense sum for two lists without function
bharat_expenses = [20,30,45]
bilal_expenses = [45,67,34]

total=0
for item in bharat_expenses:
    total+=item
print("Bharat's total:",total)

total=0
for item in bilal_expenses:
    total+=item
print("Bilal's total:",total)

Bharat's total: 95
Bilal's total: 146

In [ ]:
def find_total(exp):
  total=0
  for item in exp:
    total+=item
  return total
bharat_total=find_total(bharat_expenses)
print("Bharat's total:",bharat_total)

Bharat's total: 95

In [ ]:
# Positional argument vs named arguments
def cylinder_volume(radius,height=1):
    print("radius is:",radius)
    print("height is:",height)
    area = 3.14*(radius**2)*height
    return area

r=5
h=10
print(cylinder_volume(height=h,radius=r))

# default arguments
r=5
h=10
print(cylinder_volume(radius=r))

radius is: 5
height is: 10
785.0
radius is: 5
height is: 1
78.5

**MODULES**

In [ ]:
import math
math.sqrt(25)

5.0

In [ ]:
import calendar

In [ ]:
dec = calendar.month(2020,12)
print(dec)

   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
calendar.isleap(2020)

True

In [ ]:

calendar.isleap(2019)

False

**DICT_TUPLE**

In [ ]:
captains = {
    'india': 'virat',
    'bangladesh': 'shakib',
    'sri lanka': 'dimuth',
}

In [ ]:
type(captains)

dict

In [ ]:
captains['bangladesh']

'shakib'

In [ ]:
captains.keys()

dict_keys(['india', 'bangladesh', 'sri lanka'])

In [ ]:

captains.values()

dict_values(['virat', 'shakib', 'dimuth'])

In [ ]:
captains['england']='root'
captains

{'bangladesh': 'shakib',
 'england': 'root',
 'india': 'virat',
 'sri lanka': 'dimuth'}

In [ ]:

del captains['england']
captains

{'bangladesh': 'shakib', 'india': 'virat', 'sri lanka': 'dimuth'}

In [ ]:

for team in captains:
    print(team)

india
bangladesh
sri lanka

In [ ]:

captains.clear()
captains

{}

In [ ]:
point=(4,10)
type(point)

tuple

In [ ]:

point[0]

4

In [ ]:
def add_multiply(a,b):
    total = a+b
    m = a*b
    return total, m

In [ ]:
s, m = add_multiply(4,5)

In [ ]:
s

9

In [ ]:
m

20

# New Section

**DATA STRUCTURES ALGORITHMS**

WEEK(3-5)

In [ ]:
expense=[2200,2350,2600,2130,2190]
print("Extra spent:" ,expense[1]-expense[0])  #a

Extra spent: 150

In [ ]:
print("Expense in the first quarter of the year:", expense[0]+expense[1]+expense[2]) #b

Expense in the first quarter of the year: 7150

In [ ]:
2000 in expense#c

False

In [ ]:
expense.append(1980)
print("expense after June:",expense)#d

expense after June: [2200, 2350, 2600, 2130, 2190, 1980]

In [ ]:
expense[3]=expense[3]-200
print("Monthly expense:", expense) #e

Monthly expense: [2200, 2350, 2600, 1930, 2190, 1980]

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))  #a

5

In [ ]:
heros.append('black panther')
print(heros) #b

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther', 'black panther', 'black panther']

In [ ]:
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros) #c

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america', 'black panther', 'black panther']

In [ ]:
heros[1:3]= ['doctor strange']
print(heros)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america', 'black panther', 'black panther']

In [ ]:
heros.sort()
print(heros)

['black panther', 'black panther', 'black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [ ]:
max=int(input("Enter a number :"))

odd_number =[]
for i in range (1,max):
  if i%2==1:
    odd_number.append(i)
print("odd numbers:",odd_number)

Enter a number :34
odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]

Linked List

In [ ]:
class Node:
    def __init__(self, data=None, next=None):
        self.data = data
        self.next = next

class LinkedList:
    def __init__(self):
        self.head = None

    def print(self):
        if self.head is None:
            print("Linked list is empty")
            return

        itr = self.head
        llstr = ''
        while itr:
            llstr += str(itr.data) + ' --> '
            itr = itr.next
        print(llstr)

    def get_length(self):
        count = 0
        itr = self.head
        while itr:
            count+=1
            itr = itr.next

        return count

    def insert_at_begining(self, data):
        node = Node(data, self.head)
        self.head = node

    def insert_at_end(self, data):
        if self.head is None:
            self.head = Node(data, None)
            return

        itr = self.head

        while itr.next:
            itr = itr.next

        itr.next = Node(data, None)

    def insert_at(self, index, data):
        if index<0 or index>self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.insert_at_begining(data)
            return

        count = 0
        itr = self.head
        while itr:
            if count == index - 1:
                node = Node(data, itr.next)
                itr.next = node
                break

            itr = itr.next
            count += 1

    def remove_at(self, index):
        if index<0 or index>=self.get_length():
            raise Exception("Invalid Index")

        if index==0:
            self.head = self.head.next
            return

        count = 0
        itr = self.head
        while itr:
            if count == index - 1:
                itr.next = itr.next.next
                break

            itr = itr.next
            count+=1

    def insert_values(self, data_list):
        self.head = None
        for data in data_list:
            self.insert_at_end(data)


    def insert_after_value(self, data_after, data_to_insert):
        if self.head is None:
            return

        if self.head.data==data_after:
            self.head.next = Node(data_to_insert,self.head.next)
            return

        itr = self.head
        while itr:
            if itr.data == data_after:
                itr.next = Node(data_to_insert, itr.next)
                break

            itr = itr.next

    def remove_by_value(self, data):
        if self.head is None:
            return

        if self.head.data == data:
            self.head = self.head.next
            return

        itr = self.head
        while itr.next:
            if itr.next.data == data:
                itr.next = itr.next.next
                break
            itr = itr.next

if __name__ == '__main__':
    ll = LinkedList()
    ll.insert_values(["banana","mango","grapes","orange"])
    ll.print()
    ll.insert_after_value("mango","apple")
    ll.print()
    ll.remove_by_value("orange")
    ll.print()
    ll.remove_by_value("figs")
    ll.print()
    ll.remove_by_value("banana")
    ll.remove_by_value("mango")
    ll.remove_by_value("apple")
    ll.remove_by_value("grapes")
    ll.print()

banana --> mango --> grapes --> orange -->
banana --> mango --> apple --> grapes --> orange -->
banana --> mango --> apple --> grapes -->
banana --> mango --> apple --> grapes -->
Linked list is empty

In [ ]:
from google.colab import files

In [ ]:
uploaded = files.upload()

Saving poem.txt to poem (1).txt

In [ ]:
uploaded

{'poem.txt': b'Two roads diverged in a yellow wood,\r\nAnd sorry I could not travel both\r\nAnd be one traveler, long I stood\r\nAnd looked down one as far as I could\r\nTo where it bent in the undergrowth;\r\n\r\nThen took the other, as just as fair,\r\nAnd having perhaps the better claim,\r\nBecause it was grassy and wanted wear;\r\nThough as for that the passing there\r\nHad worn them really about the same,\r\n\r\nAnd both that morning equally lay\r\nIn leaves no step had trodden black.\r\nOh, I kept the first for another day!\r\nYet knowing how way leads on to way,\r\nI doubted if I should ever come back.\r\n\r\nI shall be telling this with a sigh\r\nSomewhere ages and ages hence:\r\nTwo roads diverged in a wood, and I\xe2\x80\x94\r\nI took the one less traveled by,\r\nAnd that has made all the difference.'}

In [ ]:
print(uploaded)

{'poem.txt': b'Two roads diverged in a yellow wood,\r\nAnd sorry I could not travel both\r\nAnd be one traveler, long I stood\r\nAnd looked down one as far as I could\r\nTo where it bent in the undergrowth;\r\n\r\nThen took the other, as just as fair,\r\nAnd having perhaps the better claim,\r\nBecause it was grassy and wanted wear;\r\nThough as for that the passing there\r\nHad worn them really about the same,\r\n\r\nAnd both that morning equally lay\r\nIn leaves no step had trodden black.\r\nOh, I kept the first for another day!\r\nYet knowing how way leads on to way,\r\nI doubted if I should ever come back.\r\n\r\nI shall be telling this with a sigh\r\nSomewhere ages and ages hence:\r\nTwo roads diverged in a wood, and I\xe2\x80\x94\r\nI took the one less traveled by,\r\nAnd that has made all the difference.'}

In [ ]:
word_count = {}
with open("poem.txt","r") as f:
    for line in f:
        tokens = line.split(' ')
        for token in tokens:
            token=token.replace('\n','')
            if token in word_count:
                word_count[token]+=1
            else:
                word_count[token]=1

In [ ]:

word_count

{'': 3,
 'And': 6,
 'Because': 1,
 'Had': 1,
 'I': 8,
 'In': 1,
 'I—': 1,
 'Oh,': 1,
 'Somewhere': 1,
 'Then': 1,
 'Though': 1,
 'To': 1,
 'Two': 2,
 'Yet': 1,
 'a': 3,
 'about': 1,
 'ages': 2,
 'all': 1,
 'and': 3,
 'another': 1,
 'as': 5,
 'back.': 1,
 'be': 2,
 'bent': 1,
 'better': 1,
 'black.': 1,
 'both': 2,
 'by,': 1,
 'claim,': 1,
 'come': 1,
 'could': 2,
 'day!': 1,
 'difference.': 1,
 'diverged': 2,
 'doubted': 1,
 'down': 1,
 'equally': 1,
 'ever': 1,
 'fair,': 1,
 'far': 1,
 'first': 1,
 'for': 2,
 'grassy': 1,
 'had': 1,
 'has': 1,
 'having': 1,
 'hence:': 1,
 'how': 1,
 'if': 1,
 'in': 3,
 'it': 2,
 'just': 1,
 'kept': 1,
 'knowing': 1,
 'lay': 1,
 'leads': 1,
 'leaves': 1,
 'less': 1,
 'long': 1,
 'looked': 1,
 'made': 1,
 'morning': 1,
 'no': 1,
 'not': 1,
 'on': 1,
 'one': 3,
 'other,': 1,
 'passing': 1,
 'perhaps': 1,
 'really': 1,
 'roads': 2,
 'same,': 1,
 'shall': 1,
 'should': 1,
 'sigh': 1,
 'sorry': 1,
 'step': 1,
 'stood': 1,
 'telling': 1,
 'that': 3,
 'the': 8,
 'them': 1,
 'there': 1,
 'this': 1,
 'to': 1,
 'took': 2,
 'travel': 1,
 'traveled': 1,
 'traveler,': 1,
 'trodden': 1,
 'undergrowth;': 1,
 'wanted': 1,
 'was': 1,
 'way': 1,
 'way,': 1,
 'wear;': 1,
 'where': 1,
 'with': 1,
 'wood,': 2,
 'worn': 1,
 'yellow': 1}

Implement hash table where collisions are handled using linear probing. We learnt about linear probing in the video tutorial. Take the hash table implementation that uses chaining and modify methods to use linear probing. Keep MAX size of arr in hashtable as 10.

In [ ]:
class HashTable:  
    def __init__(self):
        self.MAX = 10 # I am keeping size very low to demonstrate linear probing easily but usually the size should be high
        self.arr = [None for i in range(self.MAX)]
        
    def get_hash(self, key):
        hash = 0
        for char in key:
            hash += ord(char)
        return hash % self.MAX
    
    def __getitem__(self, key):
        h = self.get_hash(key)
        if self.arr[h] is None:
            return
        prob_range = self.get_prob_range(h)
        for prob_index in prob_range:
            element = self.arr[prob_index]
            if element is None:
                return
            if element[0] == key:
                return element[1]
           
    def __setitem__(self, key, val):
        h = self.get_hash(key)
        if self.arr[h] is None:
            self.arr[h] = (key,val)
        else:
            new_h = self.find_slot(key, h)
            self.arr[new_h] = (key,val)
        print(self.arr)
        
    def get_prob_range(self, index):
        return [*range(index, len(self.arr))] + [*range(0,index)]
    
    def find_slot(self, key, index):
        prob_range = self.get_prob_range(index)
        for prob_index in prob_range:
            if self.arr[prob_index] is None:
                return prob_index
            if self.arr[prob_index][0] == key:
                return prob_index
        raise Exception("Hashmap full")
        
    def __delitem__(self, key):
        h = self.get_hash(key)
        prob_range = self.get_prob_range(h)
        for prob_index in prob_range:
            if self.arr[prob_index] is None:
                return # item not found so return. You can also throw exception
            if self.arr[prob_index][0] == key:
                self.arr[prob_index]=None
        print(self.arr)

In [ ]:
t = HashTable()
t["march 6"] = 20
t["march 17"] =  88

[None, None, None, None, None, None, None, None, None, ('march 6', 20)]
[('march 17', 88), None, None, None, None, None, None, None, None, ('march 6', 20)]

In [ ]:
t["april 1"]=87

[('march 17', 88), None, None, None, None, None, None, ('april 1', 87), None, ('march 6', 20)]

In [ ]:

t["april 2"]=123

[('march 17', 88), None, None, None, None, None, None, ('april 1', 87), ('april 2', 123), ('march 6', 20)]

In [ ]:

t["april 3"]=234234

[('march 17', 88), ('april 3', 234234), None, None, None, None, None, ('april 1', 87), ('april 2', 123), ('march 6', 20)]

In [ ]:
t["april 4"]=91

[('march 17', 88), ('april 3', 234234), ('april 4', 91), None, None, None, None, ('april 1', 87), ('april 2', 123), ('march 6', 20)]

# STACK

In [ ]:
from collections import deque

class Stack:
    def __init__(self):
        self.container = deque()

    def push(self, val):
        self.container.append(val)

    def pop(self):
        return self.container.pop()

    def peek(self):
        return self.container[-1]

    def is_empty(self):
        return len(self.container) == 0

    def size(self):
        return len(self.container)

def reverse_string(s):
    stack = Stack()

    for ch in s:
        stack.push(ch)

    rstr = ''
    while stack.size()!=0:
        rstr += stack.pop()

    return rstr


if __name__ == '__main__':
    print(reverse_string("We will conquere COVI-19"))
    print(reverse_string("I am the king"))

91-IVOC ereuqnoc lliw eW
gnik eht ma I

Write a function in python that checks if paranthesis in the string are balanced or not. Possible parantheses are "{}',"()" or "[]". Use Stack class from the tutorial.
is_balanced("({a+b})")     --> True
is_balanced("))((a+b}{")   --> False
is_balanced("((a+b))")     --> True
is_balanced("))")          --> False
is_balanced("[a+b]*(x+2y)*{gg+kk}") --> True

In [ ]:
from collections import deque

class Stack:
    def __init__(self):
        self.container = deque()

    def push(self, val):
        self.container.append(val)

    def pop(self):
        return self.container.pop()

    def peek(self):
        return self.container[-1]

    def is_empty(self):
        return len(self.container) == 0

    def size(self):
        return len(self.container)

def is_match(ch1, ch2):
    match_dict = {
        ')': '(',
        ']': '[',
        '}': '{'
    }
    return match_dict[ch1] == ch2


def is_balanced(s):
    stack = Stack()
    for ch in s:
        if ch=='(' or ch=='{' or ch == '[':
            stack.push(ch)
        if ch==')' or ch=='}' or ch == ']':
            if stack.size()==0:
                return False
            if not is_match(ch,stack.pop()):
                return False

    return stack.size()==0


if __name__ == '__main__':
    print(is_balanced("({a+b})"))
    print(is_balanced("))((a+b}{"))
    print(is_balanced("((a+b))"))
    print(is_balanced("((a+g))"))
    print(is_balanced("))"))
    print(is_balanced("[a+b]*(x+2y)*{gg+kk}"))

True
False
True
True
False
True

# TREE

In [ ]:
class TreeNode:
    def __init__(self, name, designation):
        self.name = name
        self.designation = designation
        self.children = []
        self.parent = None

    def get_level(self):
        level = 0
        p = self.parent
        while p:
            level += 1
            p = p.parent

        return level

    def print_tree(self, property_name):
        if property_name == 'both':
            value = self.name + " (" + self.designation + ")"
        elif property_name == 'name':
            value = self.name
        else:
            value = self.designation

        spaces = ' ' * self.get_level() * 3
        prefix = spaces + "|__" if self.parent else ""
        print(prefix + value)
        if self.children:
            for child in self.children:
                child.print_tree(property_name)

    def add_child(self, child):
        child.parent = self
        self.children.append(child)

def build_management_tree():
    # CTO Hierarchy
    infra_head = TreeNode("Vishwa","Infrastructure Head")
    infra_head.add_child(TreeNode("Dhaval","Cloud Manager"))
    infra_head.add_child(TreeNode("Abhijit", "App Manager"))

    cto = TreeNode("Chinmay", "CTO")
    cto.add_child(infra_head)
    cto.add_child(TreeNode("Aamir", "Application Head"))

    # HR hierarchy
    hr_head = TreeNode("Gels","HR Head")

    hr_head.add_child(TreeNode("Peter","Recruitment Manager"))
    hr_head.add_child(TreeNode("Waqas", "Policy Manager"))

    ceo = TreeNode("Nilupul", "CEO")
    ceo.add_child(cto)
    ceo.add_child(hr_head)

    return ceo


if __name__ == '__main__':
    root_node = build_management_tree()
    root_node.print_tree("name")
    root_node.print_tree("designation")
    root_node.print_tree("both")

Nilupul
   |__Chinmay
      |__Vishwa
         |__Dhaval
         |__Abhijit
      |__Aamir
   |__Gels
      |__Peter
      |__Waqas
CEO
   |__CTO
      |__Infrastructure Head
         |__Cloud Manager
         |__App Manager
      |__Application Head
   |__HR Head
      |__Recruitment Manager
      |__Policy Manager
Nilupul (CEO)
   |__Chinmay (CTO)
      |__Vishwa (Infrastructure Head)
         |__Dhaval (Cloud Manager)
         |__Abhijit (App Manager)
      |__Aamir (Application Head)
   |__Gels (HR Head)
      |__Peter (Recruitment Manager)
      |__Waqas (Policy Manager)

# BINARY SEARCH TREE

In [ ]:
class BinarySearchTreeNode:
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None

    def add_child(self, data):
        if data == self.data:
            return # node already exist

        if data < self.data:
            if self.left:
                self.left.add_child(data)
            else:
                self.left = BinarySearchTreeNode(data)
        else:
            if self.right:
                self.right.add_child(data)
            else:
                self.right = BinarySearchTreeNode(data)


    def search(self, val):
        if self.data == val:
            return True

        if val < self.data:
            if self.left:
                return self.left.search(val)
            else:
                return False

        if val > self.data:
            if self.right:
                return self.right.search(val)
            else:
                return False

    def in_order_traversal(self):
        elements = []
        if self.left:
            elements += self.left.in_order_traversal()

        elements.append(self.data)

        if self.right:
            elements += self.right.in_order_traversal()

        return elements

    def post_order_traversal(self):
        elements = []
        if self.left:
            elements += self.left.post_order_traversal()
        if self.right:
            elements += self.right.post_order_traversal()

        elements.append(self.data)

        return elements

    def pre_order_traversal(self):
        elements = [self.data]
        if self.left:
            elements += self.left.pre_order_traversal()
        if self.right:
            elements += self.right.pre_order_traversal()

        return elements

    def find_max(self):
        if self.right is None:
            return self.data
        return self.right.find_max()

    def find_min(self):
        if self.left is None:
            return self.data
        return self.left.find_min()

    def calculate_sum(self):
        left_sum = self.left.calculate_sum() if self.left else 0
        right_sum = self.right.calculate_sum() if self.right else 0
        return self.data + left_sum + right_sum

def build_tree(elements):
    root = BinarySearchTreeNode(elements[0])

    for i in range(1,len(elements)):
        root.add_child(elements[i])

    return root

if __name__ == '__main__':
    numbers = [17, 4, 1, 20, 9, 23, 18, 34]

    numbers = [15,12,7,14,27,20,23,88 ]

    numbers_tree = build_tree(numbers)
    print("Input numbers:",numbers)
    print("Min:",numbers_tree.find_min())
    print("Max:",numbers_tree.find_max())
    print("Sum:", numbers_tree.calculate_sum())
    print("In order traversal:", numbers_tree.in_order_traversal())
    print("Pre order traversal:", numbers_tree.pre_order_traversal())
    print("Post order traversal:", numbers_tree.post_order_traversal())

Input numbers: [15, 12, 7, 14, 27, 20, 23, 88]
Min: 7
Max: 88
Sum: 206
In order traversal: [7, 12, 14, 15, 20, 23, 27, 88]
Pre order traversal: [15, 12, 7, 14, 27, 20, 23, 88]
Post order traversal: [7, 14, 12, 23, 20, 88, 27, 15]

# Binary Tree Part 2 Exercise

In [ ]:
  
class BinarySearchTreeNode:
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None

    def add_child(self, data):
        if data == self.data:
            return # node already exist

        if data < self.data:
            if self.left:
                self.left.add_child(data)
            else:
                self.left = BinarySearchTreeNode(data)
        else:
            if self.right:
                self.right.add_child(data)
            else:
                self.right = BinarySearchTreeNode(data)


    def search(self, val):
        if self.data == val:
            return True

        if val < self.data:
            if self.left:
                return self.left.search(val)
            else:
                return False

        if val > self.data:
            if self.right:
                return self.right.search(val)
            else:
                return False

    def in_order_traversal(self):
        elements = []
        if self.left:
            elements += self.left.in_order_traversal()

        elements.append(self.data)

        if self.right:
            elements += self.right.in_order_traversal()

        return elements

    def delete(self, val):
        if val < self.data:
            if self.left:
                self.left = self.left.delete(val)
        elif val > self.data:
            if self.right:
                self.right = self.right.delete(val)
        else:
            if self.left is None and self.right is None:
                return None
            elif self.left is None:
                return self.right
            elif self.right is None:
                return self.right

            max_val = self.left.find_max()
            self.data = max_val
            self.left = self.left.delete(max_val)

        return self

    def find_max(self):
        if self.right is None:
            return self.data
        return self.right.find_max()

    def find_min(self):
        if self.left is None:
            return self.data
        return self.left.find_min()


def build_tree(elements):
    print("Building tree with these elements:",elements)
    root = BinarySearchTreeNode(elements[0])

    for i in range(1,len(elements)):
        root.add_child(elements[i])

    return root

if __name__ == '__main__':
    numbers_tree = build_tree([17, 4, 1, 20, 9, 23, 18, 34])
    numbers_tree.delete(20)
    print("After deleting 20 ",numbers_tree.in_order_traversal()) # this should print [1, 4, 9, 17, 18, 23, 34]

    numbers_tree = build_tree([17, 4, 1, 20, 9, 23, 18, 34])
    numbers_tree.delete(9)
    print("After deleting 9 ",numbers_tree.in_order_traversal())  # this should print [1, 4, 17, 18, 20, 23, 34]

    numbers_tree = build_tree([17, 4, 1, 20, 9, 23, 18, 34])
    numbers_tree.delete(17)
    print("After deleting 17 ",numbers_tree.in_order_traversal())  # this should print [1, 4, 9, 18, 20, 23, 34]

Building tree with these elements: [17, 4, 1, 20, 9, 23, 18, 34]
After deleting 20  [1, 4, 9, 17, 18, 23, 34]
Building tree with these elements: [17, 4, 1, 20, 9, 23, 18, 34]
After deleting 9  [1, 4, 17, 18, 20, 23, 34]
Building tree with these elements: [17, 4, 1, 20, 9, 23, 18, 34]
After deleting 17  [1, 4, 9, 18, 20, 23, 34]

# GRAPH

In [ ]:
class Graph:
    def __init__(self, edges):
        self.edges = edges
        self.graph_dict = {}
        for start, end in edges:
            if start in self.graph_dict:
                self.graph_dict[start].append(end)
            else:
                self.graph_dict[start] = [end]
        print("Graph Dict:", self.graph_dict)

    def get_paths(self, start, end, path=[]):
        path = path + [start]

        if start == end:
            return [path]

        if start not in self.graph_dict:
            return []

        paths = []
        for node in self.graph_dict[start]:
            if node not in path:
                new_paths = self.get_paths(node, end, path)
                for p in new_paths:
                    paths.append(p)

        return paths

    def get_shortest_path(self, start, end, path=[]):
        path = path + [start]

        if start == end:
            return path

        if start not in self.graph_dict:
            return None

        shortest_path = None
        for node in self.graph_dict[start]:
            if node not in path:
                sp = self.get_shortest_path(node, end, path)
                if sp:
                    if shortest_path is None or len(sp) < len(shortest_path):
                        shortest_path = sp

        return shortest_path

if __name__ == '__main__':

    routes = [
        ("Mumbai","Pune"),
        ("Mumbai", "Surat"),
        ("Surat", "Bangaluru"),
        ("Pune","Hyderabad"),
        ("Pune","Mysuru"),
        ("Hyderabad","Bangaluru"),
        ("Hyderabad", "Chennai"),
        ("Mysuru", "Bangaluru"),
        ("Chennai", "Bangaluru")
    ]

    routes = [
        ("Mumbai", "Paris"),
        ("Mumbai", "Dubai"),
        ("Paris", "Dubai"),
        ("Paris", "New York"),
        ("Dubai", "New York"),
        ("New York", "Toronto"),
    ]

    route_graph = Graph(routes)

    start = "Mumbai"
    end = "New York"

    print(f"All paths between: {start} and {end}: ",route_graph.get_paths(start,end))
    print(f"Shortest path between {start} and {end}: ", route_graph.get_shortest_path(start,end))

    start = "Dubai"
    end = "New York"

    print(f"All paths between: {start} and {end}: ",route_graph.get_paths(start,end))
    print(f"Shortest path between {start} and {end}: ", route_graph.get_shortest_path(start,end))

Graph Dict: {'Mumbai': ['Paris', 'Dubai'], 'Paris': ['Dubai', 'New York'], 'Dubai': ['New York'], 'New York': ['Toronto']}
All paths between: Mumbai and New York:  [['Mumbai', 'Paris', 'Dubai', 'New York'], ['Mumbai', 'Paris', 'New York'], ['Mumbai', 'Dubai', 'New York']]
Shortest path between Mumbai and New York:  ['Mumbai', 'Paris', 'New York']
All paths between: Dubai and New York:  [['Dubai', 'New York']]
Shortest path between Dubai and New York:  ['Dubai', 'New York']

# BINARY SEARCH

In [ ]:
def binary_search(numbers_list, number_to_find):
    left_index = 0
    right_index = len(numbers_list) - 1
    mid_index = 0

    while left_index <= right_index:
        mid_index = (left_index + right_index) // 2
        mid_number = numbers_list[mid_index]

        if mid_number == number_to_find:
            return mid_index

        if mid_number < number_to_find: # this means number is in right hand side of the list
            left_index = mid_index + 1
        else: # number to find is on left hand side of the list
            right_index = mid_index - 1

    return -1

def find_all_occurances(numbers, number_to_find):
    index = binary_search(numbers, number_to_find)
    indices = [index]
    # find indices on left hand side
    i = index-1
    while i >=0:
        if numbers[i] == number_to_find:
            indices.append(i)
        else:
            break
        i = i - 1

    # find indices on right hand side
    i = index + 1
    while i<len(numbers):
        if numbers[i] == number_to_find:
            indices.append(i)
        else:
            break
        i = i + 1

    return sorted(indices)


if __name__ == '__main__':
    numbers = [1,4,6,9,11,15,15,15,17,21,34,34,56]
    number_to_find = 15
    indices = find_all_occurances(numbers, number_to_find)
    print(f"Indices of occurances of {number_to_find} are {indices}")

Indices of occurances of 15 are [5, 6, 7]

**BUBBLE SORT**

Modify bubble_sort function such that it can sort following list of transactions happening in an electronic store,

elements = [
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
    ]
bubble_sort function should take key from a transaction record and sort the list as per that key. For example,

bubble_sort(elements, key='transaction_amount')
This will sort elements by transaction_amount and your sorted list will look like,

elements = [
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
    ]
But if you call it like this,

bubble_sort(elements, key='name')
output will be,

elements = [
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
    ]

In [ ]:
def bubble_sort(elements, key=None):
    size = len(elements)

    for i in range(size-1):
        swapped = False
        for j in range(size-1-i):
            a = elements[j][key]
            b = elements[j+1][key]
            if a > b:
                tmp = elements[j]
                elements[j] = elements[j+1]
                elements[j+1] = tmp
                swapped = True

        if not swapped:
            break

if __name__ == '__main__':
    elements = [
        { 'name': 'mona',   'transaction_amount': 1000, 'device': 'iphone-10'},
        { 'name': 'dhaval', 'transaction_amount': 400,  'device': 'google pixel'},
        { 'name': 'kathy',  'transaction_amount': 200,  'device': 'vivo'},
        { 'name': 'aamir',  'transaction_amount': 800,  'device': 'iphone-8'},
    ]

    bubble_sort(elements, key='transaction_amount')
    print(elements)

[{'name': 'kathy', 'transaction_amount': 200, 'device': 'vivo'}, {'name': 'dhaval', 'transaction_amount': 400, 'device': 'google pixel'}, {'name': 'aamir', 'transaction_amount': 800, 'device': 'iphone-8'}, {'name': 'mona', 'transaction_amount': 1000, 'device': 'iphone-10'}]

# QUICK SORT

Implement quick sort using lumoto partition scheme. This partition scheme is explained in the video tutorial, you need to write python code to implement it. Check the pseudo code here: https://en.wikipedia.org/wiki/Quicksort Check the section Lomuto partition scheme

In [ ]:
def swap(a, b, arr):
    if a!=b:
        tmp = arr[a]
        arr[a] = arr[b]
        arr[b] = tmp

def quick_sort(elements, start, end):
    if len(elements)== 1:
        return
    if start < end:
        pi = partition(elements, start, end)
        quick_sort(elements, start, pi-1)
        quick_sort(elements, pi+1, end)

def partition(elements, start, end):
    pivot = elements[end]
    p_index = start

    for i in range(start, end):
        if elements[i] <= pivot:
            swap(i, p_index, elements)
            p_index += 1

    swap(p_index, end, elements)

    return p_index


if __name__ == '__main__':
    tests = [
        [11,9,29,7,2,15,28],
        [3, 7, 9, 11],
        [25, 22, 21, 10],
        [29, 15, 28],
        [],
        [6]
    ]
    # elements = ["mona", "dhaval", "aamir", "tina", "chang"]

    for elements in tests:
        quick_sort(elements, 0, len(elements)-1)
        print(f'sorted array: {elements}')

sorted array: [2, 7, 9, 11, 15, 28, 29]
sorted array: [3, 7, 9, 11]
sorted array: [10, 21, 22, 25]
sorted array: [15, 28, 29]
sorted array: []
sorted array: [6]

# Insertion sort

**Compute the running median of a sequence of numbers. That is, given a stream of numbers, print out the median of the list so far on each new element.

Recall that the median of an even-numbered list is the average of the two middle numbers in a sorted list.

For example, given the sequence [2, 1, 5, 7, 2, 0, 5], your algorithm should print out:

2
1.5
2
3.5
2
2
2**

In [ ]:
def place_to_insert(array, key):
    index = 0
    for i in array:
        if i > key:
            break
        else:
            index += 1
    return index


def insert_to_sorted(array, key):
    index = place_to_insert(array, key)
    return array[0:index]+[key]+array[index:]


if __name__ == "__main__":
    array = [2, 1, 5, 7, 2, 0, 5]

    stream = []

    count = 0
    while(True):
        i = int(input())
        count += 1
        stream = insert_to_sorted(stream, i)
        if count % 2 == 1:
            print(f"Median of {stream} : {stream[(count)//2]}")
        else:
            i1 = count//2
            i2 = (count//2) - 1
            print(f"Median of {stream} : {(stream[i1] + stream[i2])/2}")

Median of [5] : 5

# MERGE SORT

Modify merge_sort function such that it can sort following list of athletes as per the time taken by them in the marathon,

elements = [
        { 'name': 'vedanth',   'age': 17, 'time_hours': 1},
        { 'name': 'rajab', 'age': 12,  'time_hours': 3},
        { 'name': 'vignesh',  'age': 21,  'time_hours': 2.5},
        { 'name': 'chinmay',  'age': 24,  'time_hours': 1.5},
    ]
merge_sort function should take key from an athlete's marathon log and sort the list as per that key. For example,

merge_sort(elements, key='time_hours', descending=True)
This will sort elements by time_hours and your sorted list will look like,

elements = [
        {'name': 'rajab', 'age': 12, 'time_hours': 3},
        {'name': 'vignesh', 'age': 21, 'time_hours': 2.5},
        {'name': 'chinmay', 'age': 24, 'time_hours': 1.5},
        {'name': 'vedanth', 'age': 17, 'time_hours': 1},
    ]
But if you call it like this,

merge_sort(elements, key='name')
output will be,

elements = [
        { 'name': 'chinmay',   'age': 24, 'time_hours': 1.5},
        { 'name': 'rajab', 'age': 12,  'time_hours': 3},
        { 'name': 'vedanth',  'age': 17,  'time_hours': 1},
        { 'name': 'vignesh',  'age': 21,  'time_hours': 2.5},
    ]

In [ ]:
def merge_sort(elements, key, descending=False):
    size = len(elements)

    if size == 1:
        return elements

    left_list = merge_sort(elements[0:size//2], key, descending)
    right_list = merge_sort(elements[size//2:], key, descending)
    sorted_list = merge(left_list, right_list, key, descending)

    return sorted_list

    
def merge(left_list, right_list, key, descending=False):
    merged = []
    if descending:
        while len(left_list) > 0 and len(right_list) > 0:
            if left_list[0][key] >= right_list[0][key]:
                merged.append(left_list.pop(0))
            else:
                merged.append(right_list.pop(0))

    else:
        while len(left_list) > 0 and len(right_list) > 0:
            if left_list[0][key] <= right_list[0][key]:
                merged.append(left_list.pop(0))
            else:
                merged.append(right_list.pop(0))

    merged.extend(left_list)
    merged.extend(right_list)
    return merged

if __name__ == '__main__':
    elements = [
        { 'name': 'vedanth',   'age': 17, 'time_hours': 1},
        { 'name': 'rajab', 'age': 12,  'time_hours': 3},
        { 'name': 'vignesh',  'age': 21,  'time_hours': 2.5},
        { 'name': 'chinmay',  'age': 24,  'time_hours': 1.5},
    ]

    sorted_list = merge_sort(elements, key='time_hours', descending=True)
    print(sorted_list)

[{'name': 'rajab', 'age': 12, 'time_hours': 3}, {'name': 'vignesh', 'age': 21, 'time_hours': 2.5}, {'name': 'chinmay', 'age': 24, 'time_hours': 1.5}, {'name': 'vedanth', 'age': 17, 'time_hours': 1}]

# SHELL SORT

Sort the elements of a given list using shell sort, but with a slight modification. Remove all the repeating occurances of elements while sorting.

Traditionally, when comparing two elements in shell sort, we swap if first element is bigger than second, and do nothing otherwise.

In this modified shell sort with duplicate removal, we will swap if first element is bigger than second, and do nothing if element is smaller, but if values are same, we will delete one of the two elements we are comparing before starting the next pass for the reduced gap.

For example, given the unsorted list [2, 1, 5, 7, 2, 0, 5, 1, 2, 9, 5, 8, 3], after sorting using shell sort without duplicates, the sorted list would be:

[0, 1, 2, 3, 5, 7, 8, 9]

In [1]:
def shell_sort(arr):
    n = len(arr)
    div = 2
    gap = n//div
    while gap > 0:
        index_to_delete = []
        for i in range(gap, n):
            temp = arr[i]
            j = i
            while j >= gap and arr[j-gap] >= temp:
                if arr[j-gap] == temp:
                    index_to_delete.append(j)
                arr[j] = arr[j-gap]
                j -= gap
            arr[j] = temp
        index_to_delete=list(set(index_to_delete))
        index_to_delete.sort()
        if index_to_delete:
            for i in index_to_delete[-1::-1]:
                del arr[i]
        div *= 2
        n = len(arr)
        gap = n//div


if __name__ == '__main__':
    elements = [2, 1, 5, 7, 2, 0, 5, 1, 2, 9,  5, 8, 3]

    print(f'Given unsorted list: {elements}')
    shell_sort(elements)
    print(f'List after Sorting : {elements}')

Given unsorted list: [2, 1, 5, 7, 2, 0, 5, 1, 2, 9, 5, 8, 3]
List after Sorting : [0, 1, 2, 3, 5, 7, 8, 9]

# SELECTION SORT

Implement a Multi-Level Sort of a given list of dictionaries based on a given sorting order. If user wants to sort dictionary based on First Key 'A', Then Key 'B', they shall pass list of keys in the order of preference as a list ['A','B']. Your code should be able to sort list of dictionaries for any number of keys in sorting order list.

Using this multi-level sort, you should be able to sort any list of dictionaries based on sorting order preference

Example: A single dictionary entry contains two keys 'First Name' and 'Last Name'. the list should be sorted first based on 'First Name', then based on 'Last Name', w.r.t. common/same 'First Name' entries.

for this, one shall past sorting order of preference list [ 'First Name' , 'Last Name' ]

For this, Given the following sequence List:

[
    {'First Name': 'Raj', 'Last Name': 'Nayyar'},
    {'First Name': 'Suraj', 'Last Name': 'Sharma'},
    {'First Name': 'Karan', 'Last Name': 'Kumar'},
    {'First Name': 'Jade', 'Last Name': 'Canary'},
    {'First Name': 'Raj', 'Last Name': 'Thakur'},
    {'First Name': 'Raj', 'Last Name': 'Sharma'},
    {'First Name': 'Kiran', 'Last Name': 'Kamla'},
    {'First Name': 'Armaan', 'Last Name': 'Kumar'},
    {'First Name': 'Jaya', 'Last Name': 'Sharma'},
    {'First Name': 'Ingrid', 'Last Name': 'Galore'},
    {'First Name': 'Jaya', 'Last Name': 'Seth'},
    {'First Name': 'Armaan', 'Last Name': 'Dadra'},
    {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
    {'First Name': 'Aahana', 'Last Name': 'Arora'}
]
Your algorithm should generate sorted list:

[
    {'First Name': 'Aahana', 'Last Name': 'Arora'}
    {'First Name': 'Armaan', 'Last Name': 'Dadra'}
    {'First Name': 'Armaan', 'Last Name': 'Kumar'}
    {'First Name': 'Ingrid', 'Last Name': 'Galore'}
    {'First Name': 'Ingrid', 'Last Name': 'Maverick'}
    {'First Name': 'Jade', 'Last Name': 'Canary'}
    {'First Name': 'Jaya', 'Last Name': 'Seth'}
    {'First Name': 'Jaya', 'Last Name': 'Sharma'}
    {'First Name': 'Karan', 'Last Name': 'Kumar'}
    {'First Name': 'Kiran', 'Last Name': 'Kamla'}
    {'First Name': 'Raj', 'Last Name': 'Nayyar'}
    {'First Name': 'Raj', 'Last Name': 'Sharma'}
    {'First Name': 'Raj', 'Last Name': 'Thakur'}
    {'First Name': 'Suraj', 'Last Name': 'Sharma'}
]

In [2]:
def multilevel_selection_sort(elements, sort_by_list):
    for sort_by in sort_by_list[-1::-1]:
        for x in range(len(elements)):
            min_index = x
            for y in range(x, len(elements)):
                if elements[y][sort_by] < elements[min_index][sort_by]:
                    min_index = y
            if x != min_index:
                elements[x], elements[min_index] = elements[min_index], elements[x]


if __name__ == '__main__':
    elements = [
        {'First Name': 'Raj', 'Last Name': 'Nayyar'},
        {'First Name': 'Suraj', 'Last Name': 'Sharma'},
        {'First Name': 'Karan', 'Last Name': 'Kumar'},
        {'First Name': 'Jade', 'Last Name': 'Canary'},
        {'First Name': 'Raj', 'Last Name': 'Thakur'},
        {'First Name': 'Raj', 'Last Name': 'Sharma'},
        {'First Name': 'Kiran', 'Last Name': 'Kamla'},
        {'First Name': 'Armaan', 'Last Name': 'Kumar'},
        {'First Name': 'Jaya', 'Last Name': 'Sharma'},
        {'First Name': 'Ingrid', 'Last Name': 'Galore'},
        {'First Name': 'Jaya', 'Last Name': 'Seth'},
        {'First Name': 'Armaan', 'Last Name': 'Dadra'},
        {'First Name': 'Ingrid', 'Last Name': 'Maverick'},
        {'First Name': 'Aahana', 'Last Name': 'Arora'}
    ]

    print(f'Given unsorted array:', *elements, sep='\n')
    multilevel_selection_sort(
        elements, ['First Name', 'Last Name'])
    print(f'Array after Multi-Level Sorting:', *elements, sep='\n')

Given unsorted array:
{'First Name': 'Raj', 'Last Name': 'Nayyar'}
{'First Name': 'Suraj', 'Last Name': 'Sharma'}
{'First Name': 'Karan', 'Last Name': 'Kumar'}
{'First Name': 'Jade', 'Last Name': 'Canary'}
{'First Name': 'Raj', 'Last Name': 'Thakur'}
{'First Name': 'Raj', 'Last Name': 'Sharma'}
{'First Name': 'Kiran', 'Last Name': 'Kamla'}
{'First Name': 'Armaan', 'Last Name': 'Kumar'}
{'First Name': 'Jaya', 'Last Name': 'Sharma'}
{'First Name': 'Ingrid', 'Last Name': 'Galore'}
{'First Name': 'Jaya', 'Last Name': 'Seth'}
{'First Name': 'Armaan', 'Last Name': 'Dadra'}
{'First Name': 'Ingrid', 'Last Name': 'Maverick'}
{'First Name': 'Aahana', 'Last Name': 'Arora'}
Array after Multi-Level Sorting:
{'First Name': 'Aahana', 'Last Name': 'Arora'}
{'First Name': 'Armaan', 'Last Name': 'Dadra'}
{'First Name': 'Armaan', 'Last Name': 'Kumar'}
{'First Name': 'Ingrid', 'Last Name': 'Galore'}
{'First Name': 'Ingrid', 'Last Name': 'Maverick'}
{'First Name': 'Jade', 'Last Name': 'Canary'}
{'First Name': 'Jaya', 'Last Name': 'Seth'}
{'First Name': 'Jaya', 'Last Name': 'Sharma'}
{'First Name': 'Karan', 'Last Name': 'Kumar'}
{'First Name': 'Kiran', 'Last Name': 'Kamla'}
{'First Name': 'Raj', 'Last Name': 'Sharma'}
{'First Name': 'Raj', 'Last Name': 'Nayyar'}
{'First Name': 'Raj', 'Last Name': 'Thakur'}
{'First Name': 'Suraj', 'Last Name': 'Sharma'}

# RECURSION

1. Write a Python program to calculate the sum of a list of numbers

In [4]:
def list_sum(num_List):
    if len(num_List) == 1:
        return num_List[0]
    else:
        return num_List[0] + list_sum(num_List[1:])
        
print(list_sum([2, 4, 5, 6, 7]))

24

 Write a Python program to converting an Integer to a string in any base.

In [9]:
def to_string(n,base):
   conver_tString = "0123456789ABCDEF"
   if n < base:
      return conver_tString[n]
   else:
      return to_string(n//base,base) + conver_tString[n % base]

print(to_string(2835,16))

B13

 Write a Python program of recursion list sum. 
Test Data: [1, 2, [3,4], [5,6]]
Expected Result: 21

In [10]:
def recursive_list_sum(data_list):
	total = 0
	for element in data_list:
		if type(element) == type([]):
			total = total + recursive_list_sum(element)
		else:
			total = total + element

	return total
print( recursive_list_sum([1, 2, [3,4],[5,6]]))

21

Write a Python program to get the factorial of a non-negative integer.

In [11]:
def factorial(n):
  if n <= 1:
    return 1
  else:
    return n*(factorial(n-1))
print(factorial(5))

120

Write a Python program to solve the Fibonacci sequence using recursion

In [14]:
def fibonacci(n):
  if n==1 or n==2 :
    return 1
  else:
    return (fibonacci(n-1)+fibonacci(n-2))
print (fibonacci(7))

13

 Write a Python program to get the sum of a non-negative integer. 
Test Data:
sumDigits(345) -> 12
sumDigits(45) -> 9

In [15]:
def sumDigits(n):
  if n == 0:
    return 0
  else:
    return n % 10 + sumDigits(int(n / 10))

print(sumDigits(345))
print(sumDigits(45))

12
9

Write a Python program to calculate the sum of the positive integers of n+(n-2)+(n-4)... (until n-x =< 0).
Test Data:
sum_series(6) -> 12
sum_series(10) -> 30

In [16]:
def sum_series(n):
  if n < 1:
    return 0
  else:
    return n + sum_series(n - 2)

print(sum_series(6))
print(sum_series(10))

12
30

In [18]:
 Write a Python program to calculate the harmonic sum of n-1. 
Note: The harmonic sum  the sum of reciprocals of the positive integers.
Example :
harmonic series

SyntaxError: ignored

In [20]:
def harmonic_sum(n):
  if n < 2:
    return 1
  else:
    return 1/ n+(harmonic_sum(n-1))
print(harmonic_sum(7))
print(harmonic_sum(4))

2.5928571428571425
2.083333333333333

Write a Python program to calculate the geometric sum of n-1. 
Note: In mathematics, a geometric series is a series with a constant ratio between successive terms.
Example :
harmonic series

In [21]:
def geometric_sum(n):
  if n < 0:
    return 0
  else:
    return 1 / (pow(2, n)) + geometric_sum(n - 1)
 
print(geometric_sum(7))
print(geometric_sum(4))

1.9921875
1.9375

. Write a Python program to calculate the value of 'a' to the power 'b'. Go to the editor
Test Data :
(power(3,4) -> 81

In [22]:
def power(a,b):
	if b==0:
		return 1
	elif a==0:
		return 0
	elif b==1:
		return a
	else:
		return a*power(a,b-1)

print(power(3,4))

81

Write a Python program to find  the greatest common divisor (gcd) of two integers.

In [23]:
def Recurgcd(a, b):
	low = min(a, b)
	high = max(a, b)

	if low == 0:
		return high
	elif low == 1:
		return 1
	else:
		return Recurgcd(low, high%low)
print(Recurgcd(12,14))

2